/* GitHub Dark */
:root {
  --title-bar-bg: #444444;
  --activity-bar-bg: #333333;
  --sidebar-bg: #252526;
  --footer-bg: #2b7fff;
  --main-bg: #1e1e1e;
  --main-tab-bar-bg: #2d2d2d;
  --primary-color: #2b7fff;
  --text-color: #efefef;
  --scrollbar-track-bg: #24292e;
  --scrollbar-thumb-bg: #333536;
}

[data-theme="github-dark"] {
  --title-bar-bg: #444444;
  --activity-bar-bg: #333333;
  --sidebar-bg: #252526;
  --footer-bg: #2b7fff;
  --main-bg: #1e1e1e;
  --main-tab-bar-bg: #2d2d2d;
  --primary-color: #2b7fff;
  --text-color: #efefef;
  --scrollbar-track-bg: #24292e;
  --scrollbar-thumb-bg: #333536;
}

/* Dracula */
[data-theme="dracula"] {
  --title-bar-bg: #1e1f29;
  --activity-bar-bg: #343746;
  --sidebar-bg: #343746;
  --footer-bg: #bd93f9;
  --main-bg: #282a36;
  --main-tab-bar-bg: #191a21;
  --primary-color: #bd93f9;
  --text-color: #efefef;
  --scrollbar-track-bg: #282a36;
  --scrollbar-thumb-bg: #454647;
}

/* Ayu Dark */
[data-theme="ayu-dark"] {
  --title-bar-bg: #1f2428;
  --activity-bar-bg: #0a0e14;
  --sidebar-bg: #0a0e14;
  --footer-bg: #e6b450;
  --main-bg: #0a0e14;
  --main-tab-bar-bg: #0a0e14;
  --primary-color: #e6b450;
  --text-color: #efefef;
  --scrollbar-track-bg: #0a0e14;
  --scrollbar-thumb-bg: #454647;
}

/* Ayu Mirage */
[data-theme="ayu-mirage"] {
  --title-bar-bg: #1f2428;
  --activity-bar-bg: #1f2430;
  --sidebar-bg: #1f2430;
  --footer-bg: #e6b450;
  --main-bg: #1f2430;
  --main-tab-bar-bg: #1f2430;
  --primary-color: #e6b450;
  --text-color: #efefef;
  --scrollbar-track-bg: #1f2430;
  --scrollbar-thumb-bg: #454647;
}

/* Nord */
[data-theme="nord"] {
  --title-bar-bg: #1f2428;
  --activity-bar-bg: #2e3440;
  --sidebar-bg: #2e3440;
  --footer-bg: #88c0d0;
  --main-bg: #2e3440;
  --main-tab-bar-bg: #2e3440;
  --primary-color: #88c0d0;
  --text-color: #efefef;
  --scrollbar-track-bg: #2e3440;
  --scrollbar-thumb-bg: #454647;
}

/* Night Owl */
[data-theme="night-owl"] {
  --title-bar-bg: #011627;
  --activity-bar-bg: #011627;
  --sidebar-bg: #011627;
  --footer-bg: #5f7e97;
  --main-bg: #011627;
  --main-tab-bar-bg: #01111d;
  --primary-color: #5f7e97;
  --text-color: #89a4bb;
  --scrollbar-track-bg: #011627;
  --scrollbar-thumb-bg: #043254;
}

/* Monokai */
[data-theme="monokai"] {
  --title-bar-bg: #272822;
  --activity-bar-bg: #272822;
  --sidebar-bg: #383830;
  --footer-bg: #f92672;
  --main-bg: #272822;
  --main-tab-bar-bg: #383830;
  --primary-color: #f92672;
  --text-color: #f8f8f2;
  --scrollbar-track-bg: #272822;
  --scrollbar-thumb-bg: #75715e;
}